@import url(product_site/css/utilities.css);

*
{
    box-sizing: border-box;
    margin: 0; padding: 0;
    border: none;
}

html, body
{
    width: 100vw; height: 100vh;
    box-sizing: content-box !important;
}

a
{
    text-decoration: none;
}

header
{
    height: 10em;
    background-color: var(--nord0);
}

.navbar
{
    justify-content: space-between;
    background-color: var(--nord0);
}

.box
{
    display: flex;
    align-items: center;
}

#logo
{
    width: 5rem;
    height: 5rem;
}

.col
{
    flex-direction: column;
}

.navbar .box
{
    background-color: var(--nord3);

}

.navbar > .box
{
    margin-left: auto;
    
}

nav .box
{
    flex-grow: 0;
}