@import url(utilities.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

}

/* navbar */

header {
  top: 0;
  position: sticky;
  display: block;
  width: 100%;
  z-index: 9999;
  align-items: center;
  background-color: black;
}

body {
  background-color: var(--nord0);
}

footer {
  display: block;
  margin-bottom: var(--s2);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-around;
  width: fit-content;
}

.shadow-dreamy {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.cell {
  gap: var(--s2);
  align-content: center;
  justify-content: center;
  padding: var(--s-4);
  border-radius: var(--s-2);
}

.-r {
  align-self: flex-end;
}

.-l {
  align-self: flex-start;
}

.w100 {
  width: 100% !important;
}

.no-align {
  align-self: normal;
}

#nav-menu {
  gap: 1em !important;
  margin-left: calc(auto - var(--s4));
  width: fit-content;
}

#nav-menu>a {
  font-size: var(--s1);
}

/* page margins */
header>.container {
  display: inline-flex;
  width: 80%;
  overflow: hidden;
  margin: 0 10%;
}

/* align to leftside of navbar */
header>.container>*:not(:last-child) {
  flex-grow: 0;
}

header>.container {
  margin-top: var(--s1);
  align-content: center;
}

header img:not(#logo) {
  filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(357%) hue-rotate(192deg) brightness(102%) contrast(91%);
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(357%) hue-rotate(192deg) brightness(102%) contrast(91%);
}

.stack {
  gap: var(--s4);
}

.nav-icon {
  vertical-align: calc(-1*var(--s-3));
}

#content {
  position: relative;
  height: 100%;
  margin-top: var(--s4);
  margin-bottom: var(--s-2);
}

.active {
  background-color: var(--nord9);
  color: var(--nord3);
}

table {
  display: flex;
  background-color: black;
}

textarea, input
{
  background-color: var(--nord0);
  color: var(--nord4);
}

@media screen and (width <=600px) {
  .container {
    flex-wrap: wrap !important;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.02);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulsating {
  animation: pulsate 2.5s ease-in-out infinite;
  transition: background-color 2.5s ease;
}

/* Smooth color transitions */
#home,
#about,
#projects {
  transition: background-color 5s ease, transform 4.6s ease;
}

/* Hover effect */
#home:hover,
#about:hover,
#projects:hover {
  transform: scale(1.1);
}

