@import url(nav.css);
@import url(utilities.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  /* overflow: hidden; */
}

/* set wallpaper to fit entire screen */
#wallpaper {
    position: absolute;
    z-index: -999;
    /* background-image: url("../images/wallpaper.png"); */
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: initial !important;
}

.hero,
#contact-page,
#mcmansion_blog
{
  display: block;
  align-content: center;
  width: inherit;
  height: calc(100svh - 20%);
}

.hero > *,
contact-page > *,
#mcmansion_blog > *
{
  display: block;
  margin-inline: 25%;
  margin-block: var(--s1);
  line-height: calc(1.25* var(--s1));
  align-content: center;
  align-items: center;
  text-justify: center;
  color: var(--nord4);
}

.hero > h1
{
  font-size: 2.2em;
}

.hero > p
{
  font-size: 1.1em;
}

main
{
  display: block;
  width: inherit;
  height: calc(100svh - 20%);
}

main > *
{
  display: block;
  margin-inline: 15%;
  margin-block: var(--s1);
  line-height: calc(1.25* var(--s1));
  align-content: center;
  align-items: center;
  text-justify: center;
  color: var(--nord4);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emb-link
{
  display: inline-flex;
  vertical-align: calc(-2*var(--s-5));
  line-height: 100%;
  text-align: center;
  text-decoration: underline;
  color: var(--nord6);
  padding: var(--s-4);
  align-items: center;
  background: #8882;
  border-radius: var(--s-4);
}

.img-link
{
  display: inline-block;
  width: 4.4em; height: 1.1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.img-link-icon
{
  width: 1.1em !important;
  background-size: cover !important;
  margin-right: var(--s-1);
}

.no-link
{
  text-decoration: none;
}

.h-divider
{
  background-color: white;
  height: 1px;
}

.heading-cell
{
  padding: calc(var(--s-1) + var(--s-2));
  font-size: 1.15em;
  background-color: #0b0b0f;
}

#content {
  position: relative;
  height: 100%;
  margin-top: var(--s4);
  margin-bottom: var(--s-2);
}

.active {
  background-color: var(--nord9);
  color: var(--nord5);
}

table {
  display: flex;
  background-color: black;
}

textarea, input
{
  background-color: var(--nord0);
  color: var(--nord4);
}

@media screen and (width <=600px) {
  .container {
    flex-wrap: wrap !important;
  }
}

@media screen and (width <= 600px) {
    html, body {
        overflow: scroll !important;
    }
    .hero > * {
      max-width: 15ch;
    }
}
